@{
    ViewBag.Title = "Arkham Asylum";
}

<div class="jumbotron">
    <h1>Arkham Asylum</h1>
    <p class="lead">Home for the Criminally Insane</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Description</h2>
        <p>Arkham Asylum is not just any institution for the criminally insane. It's the Ivy League of insanity. 
        A "Harvard" for Psychopaths. Anything not described on the new inventory is contraband. Do not bring these items inside, no matter how small 
        or commonplace they may appear. 
        Bits and pieces do not fall through the cracks here. They fall into the hands of the best, the brightest and the sickest</p>
    </div>
</div>